/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* CSS used almost in every component */
.font-l{
    font-size: x-large;
    font-weight: lighter;
}